body {background-color: #fdfdfd;max-width: 640px;margin: 0 auto;}
.order-header {text-align: center;height: 52px;position: relative;}
.order-header>a:first-child {position: absolute;top:15px;left: 0.29rem;}
.order-header>a:last-child {position: absolute;top:13px;right: 0.29rem;}
.order-back {width: 10px;}
.order-tele{width:25px}
.order-header>h1 {display: inline-block;font-size: 20px;font-weight: bold;vertical-align: middle;width: 4.5rem;line-height: 52px;margin: 0;}
.prompt {width:100%;background-color: #0cd084;/*height: 1.45rem;*/text-align: center;color: #fdfdfd;}
.pro-mes>h2 {font-size: 16px;display: inline-block;vertical-align: middle;margin: 0px 5px;font-weight: bold;}
.prompt img {width:20px}
.prompt p {margin: 0;padding: 0.08rem 0;font-weight: 600;}
.pro-mes {padding-top: 0.2rem;}
.dt-space {width: 100%;height: 0.19rem;background-color: #f1f1f1;border-top:1px solid #d5d5d5;border-bottom: 1px solid #d5d5d5;}
.order-media {width: 93%;margin: 0 auto;}
.pull-right img {width: 0.18rem;height: 0.25rem;}
.pull-left img {width: 01.8rem;height: 1.2rem;}
.order-media {padding: 0.3rem 0;}
.order-pull-right {padding-top: 0.32rem;}
.order-num {width:93%;margin: 0 auto;position: relative;padding: 8px 0 0 0;}
.order-num>a {position: absolute;right: 0;top:21px;border-radius: 5px;padding: 3px 8px;}
.order-media-heading {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;font-weight: 600;}
.order-form {border:0;background-color: #fdfdfd;padding: 8px 15px;}
.order-form h2 {font-size: 16px;font-weight: 600;margin: 0;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;}
.order-list-group {margin-bottom: 0;background-color: #fdfdfd;border-bottom:1px solid #f1f1f1;}
.order-badge {background-color: #fdfdfd;color: #3c3c3c;}
.yingfu {border-top:1px solid #f1f1f1;}
.actual-total {font-weight: 600;font-style: normal;font-size: 18px;position: relative;height: 55px;}
.actual-total p {position: absolute;right: 15px;margin: 0;padding: 15px 0;}
.actual-total i {font-style: normal;}
.order-det {padding-left: 0.29rem;line-height: 28px;padding-top: 10px;}
.order-det .order-address {padding-left: 74px;text-indent: -74px;}
.order-use {width: 93%;margin:0 auto}
.order-use h2 {font-size: 18px;font-weight: 700;display: table-cell;vertical-align: middle;padding: 10px 0;}
.order-use h2:before {content: '';width: 0.11rem;height: 0.43rem;background-color: #0cd084;	display: inline-block;vertical-align: middle;margin-right: 5px;}